

.Header
	background-color #2395ED
	height 500px
	padding 0
	.Conjunto_1
		display flex
		justify-content space-between
		align-items center
		padding-top 20px
		.fa.fa-phone
			color orange
			transform rotate(270deg)
			font-size 30px		
		.Contact_tel
			color #fff
			&:hover
				text-decoration none
		.Certificado_link
			background-color blue
			color white
			border-radius 5px
			padding-left 10px
			p
				display inline-block
				margin-right 10px
				margin-bottom 0 
			.Dowload_icon
				display inline-block
				padding 15px
				background-color #000
				border-radius 0 5px 0 5px
				i
					color #E0D12C
					
	.Menu_container
		background-color #fff
		ul
			li
				a
					color #A0A0A0				
					&:hover
							color #2395ED
				.nav-link.active
					color blue
		.Menu
			display flex
			align-items center
			justify-content space-between


