Rubik = 'Rubik', sans-serif;
Lato = 'Lato', sans-serif;



Yellow_100 =  #FFD04D
Yellow_200 =  #FFBD1A  
Yellow_300 =  #E08F00
Brown_100 =  #995300
Red_100 =  #E54554
Gradient_Red = linear-gradient(to right, rgba(229,69,84,1) 0%, rgba(255,189,26,1) 100%) 
Blue_100 =  #538CF2
Blue_200 =  #3770D3
Blue_300 =  #0F4BB7 
Blue_400 =  #073499
Gradient_Blue = linear-gradient(to right, rgba(0,55,188,1) 0%, rgba(54,127,214,1) 100%)
White_100 =  #FFFFFF
White_200 =  #FAFBFC
Grey_100 =  #EFF1F4
Grey_200 =  #DFE1E5
Grey_300 =  #BCC2CC
Grey_400 =  #8A9099
Grey_500 =  #323A47


body
	p
		font-family Rubik
		
.body-no-scroll
	overflow-y hidden
	position fixed

.Header
	background Gradient_Blue
	padding 0
	position relative
	.Conjunto_1
		display flex
		justify-content space-between
		align-items center
		padding 20px 0
		.WhatsApp-icon
			color #25d366
			font-size 25px
			margin-right 10px		
		.Contact_tel
			color #fff
			display flex
			align-items center
			&:hover
				text-decoration none

.Button.Certificado_link
	background-color Yellow_200
	font-family Lato
	color Grey_500
	font-size 16px
	font-weight bold
	text-decoration none
	display inline-flex
	justify-content flex-end
	padding-right 0
	&:hover
		text-decoration none
		color Grey_500	

.Dowload_icon
	display inline-block
	padding 12px
	margin-left 10px
	background-color Yellow_100
	border-radius 0 0 5px 0
	color Grey_500	
.Dowload_icon.fa-download
	padding 12px
	font-size 25px
				
.Contorno
	min-height 120px

#Menu_container
	position relative
	z-index 1

.Menu_container
	background-color Grey_100
	display flex
	align-items center
	box-shadow 2px 3px 5px 0px rgba(0,0,0,0.15)
	.Logo
		margin auto 1em
		margin-left 0
	ul
		li
			.dropdown-item
				padding 15px

.nav-link
	color Grey_400
	font-family Lato	
	font-size 16px
	font-weight 400	
	display block
	padding 48px 20px	
	&:hover
			color #2395ED

.nav-item.active
	position relative
	> a
		color #0D5CBA
		font-weight 600
	&:before
		content ""
		position absolute
		display inline-block
		height 7%
		width 50%
		background-color Yellow_100
		top 94%
		left 25%
		transform skewX(-40deg)

.Logo_img
	width 140px
	transition 1s ease

.contacto_btn
	margin-top 2em

.nav-item.dropdown
	&:hover
		.dropdown-menu
			top 95%
	

.dropdown-item.active
	color #0D5CBA
	font-weight 600
	background-color transparent
					
.Menu
	display flex
	justify-content space-between
	margin-top 0
	margin-bottom 0

.Hamburguer_icon
	display none

.nav
	height 120px
	

.dropdown-toggle
	&:after
		display none
	&:hover
		.fa-chevron-down
			transform rotate(-180deg)

.fa-chevron-down
	margin-left 5px
	transition .5s ease-in-out

.Conjunto_2
	display flex
	align-items center
	.Conjunto_2-description
		font-size 24px
		color White_100
		font-weight 100
		margin-bottom 40px
	a
		color Grey_500
		text-decoration none

.Titulo
	font-family Lato
	font-size 36px
	font-weight bold
	line-height 54px

.Titulo-slider_header
	font-size 40px
	color White_100
	line-height 60px		

.Titulo-cursos_home
	color Blue_200
	text-align center
	padding 150px 0 110px 0


.Constructor_img
	margin-top 1em
	height 535px
	width 380px


.Header_Home
	overflow hidden
	&:before
		display none
		content ""
		height 100%
		width 100%
		position absolute
		top 2%
		left 26%
		background-image url("../img/Check-Logo.png")
		background-size 56%
		background-repeat no-repeat
		background-position center
	

	
.Fixed_nav
	position fixed
	top -100%
	width 100%
	z-index 1
	border-radius 0
	left 0
	margin-top 0
	background-color Grey_100
	transition 1s ease
	box-shadow 2px 3px 5px 0px rgba(0,0,0,0.15)


.Nav_visible
	top 0%
	transition 1s ease
	.nav
		height 90px
	.nav-link
		padding 30px 20px


.flexslider
	overflow hidden
	border 0
	margin-bottom 0
	
.flex-control-nav
	bottom 60px
	left -42%

.Slide
	position relative
	z-index 0
	
.Slide-1
	background-image url("../img/Slider-1.jpg")
	background-position center
	background-size cover
	background-repeat no-repeat
	
.Slide-2
	background-image url("../img/Slider-2.jpg")
	background-position center
	background-size cover
	background-repeat no-repeat
	
.Slide-3
	background-image url("../img/Slider-3.jpg")
	background-position center
	background-size cover
	background-repeat no-repeat

.Row_slide-home
	margin 0
	
.Contenido_slide-home
	padding 150px 120px
	padding-bottom 150px
	min-height 600px
	position relative
	&:before
		content ""
		position absolute
		height 100%
		width 100%
		top 0
		left 0
		display block
		background Gradient_Blue
		z-index -1
		opacity .97

.flex-control-paging
	li
		a
			border-radius 2px 0 2px 0
			height 10px
			width 10px
			background transparent
			border 1px solid White_100
			margin-left 10px

.flex-control-paging
	li
		a.flex-active
			background-color White_100
			border 0			

.Button
	background Yellow_200
	font-family Lato
	display inline-flex
	align-items center
	justify-content center
	font-weight bold
	border-radius 10px 0 10px 0
	transition .5s
	cursor pointer
	min-height 50px
	padding 0 20px
	text-align center
	position relative
	box-shadow 2px 3px 5px 0px rgba(0,0,0,0.15)
	&:hover
		&:before
			opacity 1
			top 8px
			left 8px
	&:focus
		outline none
	i
		margin-left 20px
	&:before
		content ""
		position absolute
		display inline-flex
		height 100%
		width 100%
		background Gradient_Red
		z-index -1
		opacity 0
		top 0
		left 0
		border-radius 10px 0 10px 0
		box-shadow 2px 3px 5px 0px rgba(0,0,0,0.15)
		transition .3s ease-in-out
	


.Button__Register
	&:hover
		i
			animation-name flecha
			animation-duration .8s
			animation-iteration-count infinite
			animation-direction alternate
			animation-fill-mode: forwards
			transition .8s


@keyframes flecha{
	0%{
		transform translateX(0)
	}
	
	100%{		
		transform translateX(5px)
	}	
}
	

.Cursos
	padding-bottom 10em
	background-color White_200
	.Curso_group_1
		margin-bottom 2em	

.card
	text-align center
	border 1px solid Grey_200
	border-radius 25px 0 25px 0
	padding 3em 5px
	font-family Lato
	transition .5s ease-in-out
	cursor pointer
	box-shadow 2px 3px 5px 0px rgba(0,0,0,0.15)
	min-height 500px
	margin-bottom 40px
	img
		width 100px
		margin 0 auto
	h4
		font-size 24px
		min-height 70px
		color Grey_500
	p
		font-weight 100
		font-size 16px
		color Grey_400
	a
		color  Grey_500
		text-decoration none
	&:hover
		transform translateY(-15px)
		box-shadow 2px 3px 36px 8px rgba(0,0,0,0.1)
		h4
			color Blue_200
		p
			color Grey_500
		.Cursos_btn
			background-color Yellow_200
			&:before
				opacity 1
	
		
.Cursos_btn
	background-color White_200
	border 1px solid Grey_200
	margin-top 2em
	position relative
	padding 0 77px
	a
		color  Grey_500
		text-decoration none
	&:hover
		background-color Yellow_200
		border-color Yellow_200
		
.done-message
	position absolute
	color #39b54a
	width 100%
	bottom 20%
	font-size 20px
	font-weight 600
	left 0
	text-align center
	transition all 3s
	transition-delay 2s
	
.done-message-success
	display block
	opacity 1
	transition all 3s
		
.Instalaciones
	position relative
	z-index 0
	background Gradient_Blue
	overflow hidden
	.Instalaciones_parrafo
		padding 70px 20px
	p
		font-size 16px
		color Grey_200
		font-weight 300
		margin-bottom 1.5rem
	span
		color Yellow_100
		font-weight 500
	.Instalaciones_btn
		padding 0 50px
		text-decoration none
		color Grey_500
		margin-bottom 1em
		&:hover
			color Grey_500
	
.Titulo__instalaciones
		color White_100
		margin-bottom 1.5rem

		
.Andamio
	position relative
	background-image url("../img/Andamio.jpg")
	background-size cover
	background-position 1px -585px
	background-repeat no-repeat

.Seguridad-salud
	background-color White_200
	
.Seguridad-salud_Tittle
	text-align center
	padding-top 157px
	margin-bottom 110px
	color Blue_200

.Seguridad-salud_article
	padding-bottom 153px
	

.Seguridad-salud__Servicio
	display flex
	align-items center
	padding 40px 20px
	&:hover
		.Seguridad-salud__Link
			text-decoration none
			color Blue_200
			transform translateY(-15px)
		.Dowload_icon--Service
			color Yellow_200
	
.Seguridad-salud__Link
	display inline-flex
	align-items center
	font-size 18px
	font-family Lato
	color Grey_400
	transition .5s ease-in-out

	
.Dowload_icon--Service
	display inline-table
	margin-right 1em
	background-color White_100
	border .5px solid Grey_200
	border-radius 5px 0 5px 0
	padding 15px
	color Blue_100
	font-size 30px
	transition .5s ease-in-out

.Padding-icon--service
	padding 15px 20px
	

.Certificado
	background-image url("../img/Certificado-Section.jpg")
	background-size cover
	background-position center
	background-repeat no-repeat
	color White_100
	padding 100px 15px
	position relative
	z-index 0
	align-items center
	overflow hidden

.Certificado__articulo
	align-items center

.Certificado__img
	border-radius 2%

.Certificado__Titulo
	display inline
	margin-right .5em

.Certificado__Arrow-2.fa
	font-size 24px
	

.Certificado__parrafo
	font-weight 100
	line-height 30px
	margin 2em 0
	
.Portafolio
	background Grey_100

.Portafolio_articulo
	justify-content center	

.Portafolio_titulo
	color Blue_200

.Portafolio__parrafo
	color Grey_400
	margin-top 0

.Portafolio_icon
	padding-top 13px
	
.Frases
	height 400px
	display flex
	align-items center
	text-align center
	background-image url("../img/DCM-Fondo-1.png")
	background-size cover
	overflow hidden
	h3
		font-family Lato
		font-size 30px
		color White_100
		line-height 1.5

.Frase_container
	justify-content center

.Frase_text
	position relative
	&:before,&:after
		content ""
		position absolute
		height 56px
		width 65px	
	&:before
		background-image url("../img/Frase-1.png")
		background-repeat no-repeat
		background-position center
		top -20px
		left -148px
	&:after
		bottom -40px
		right -66px
		background-image url("../img/Frase-2.png")
		background-repeat no-repeat
		background-position center		
	

.Elegir-dcm
	padding 5em 0
	background-color Grey_100
	margin-bottom 3em
	overflow hidden
	
.Elegir-dcm__titulo
	text-align center
	color Blue_200
	
.Elegir-dcm__article
	justify-content center
	align-items center
	margin-top 3em

.Elegir-dcm__corbelen
	padding 25px
	float right

.Elegir-dcm__corbelen-img
	width 110px

.Elegir-dcm__corbelen
	.fa-user
		font-size 110px
		color Blue_200

.Titulo--corbelen
	font-weight 400

.Elegir-dcm__article--autor
	font-size 24px
	color Grey_400

.Elegir-dcm__article--parrafo
	margin-top 1em
	font-size 20px
	color Grey_400
	font-weight 100
	
.carousel-control-prev
	justify-content flex-start
	
.carousel-control-next
	justify-content flex-end
	
.carousel-item
	min-height 310px	
	
.Elegir-dcm__control
	color Blue_200
	font-size 30px

	
.carousel-indicators
	.Indicador.active
		opacity 1
		transform scale(.9)
		transition .5s ease-in-out
		
.carousel-indicators
	bottom -40px
	z-index 0
	.Indicador
		width 15px
		height 15px
		border-radius 50%
		background Blue_200
		opacity .5
		transform scale(.7)
		transition .5s ease-in-out
		z-index 100


.delay
	animation-delay .5s
	animation-duration 2s


.Clientes__titulo
	color Blue_200
	text-align center
	margin-top 80px
	margin-bottom 30px

.Clientes__row
	align-items center
	justify-content center
	margin-bottom 120px

.Clientes__section
	text-align center

.Clientes__img
	width 162px


.Footer
	margin-bottom 0
	padding 80px 0
	padding-bottom 1em
	background-image url("../img/Footer.jpg")
	background-size cover
	background-position center
	background-repeat no-repeat
	color White_100
	overflow hidden


.Footer_logo
	width 183px
	display block
	margin 0 auto
	
.Footer_redes
	margin 40px 0
	text-align center

.Footer_link
	text-decoration none
	color White_100
	font-size 36px
	&:hover
		color White_100
		

.Footer_facebook
	margin-right 1.5em

.Footer_instagram
	margin-left 1.5em

.Footer_menu
	margin-top 4em
	
.Footer_menu_title
	font-family Rubik
	font-weight 100
	font-size 30px

.Footer_menu_list
	padding-left 0
	list-style none
	font-family Rubik
	font-weight 100
	font-size 20px
	a
		&:hover
			text-decoration none
	li
		margin 15px 0
		color White_100


.Footer_copy
	margin-top 4em
	font-size 20px
	font-weight 100

.Footer_link-juan
	text-decoration none
	color White_100
	&:hover
		text-decoration none
		color White_100

.Page_cursos
	background Gradient_Blue

.Page_cursos.Header
	&:before
		display none

.Page_cursos-row
	align-items start

.Page_cursos_img
	width 150px
	margin-right 2em

.Page_cursos_title
	font-weight 400
	color White_100

.Page_cursos_conjunto-1
	display flex
	align-items center
	margin 3em 0

.Page_cursos-col
	color White_100
	font-family Rubik
	font-size 20px
	font-weight 100

.Page_cursos-description
	margin-bottom 63px


.Page_cursos-requisitos
	font-weight bold
	font-family Lato
	font-size 24px
	margin-bottom 36px
			
.Page_cursos-requisitos--list
	list-style none
	padding 0

.Page_cursos-requisito
	font-family Rubik
	font-size 20px
	font-weight 100
	display flex
	align-items baseline

.Requisito-icon
	margin-bottom 1em
	margin-right 10px

.Page_cursos_form
	background White_100
	padding 40px 30px
	margin-bottom 170px
	border-radius 25px 0 25px 0
	font-family Rubik
	font-weight 100
	font-size 17px
	
.Campos-necesarios
	color #8A9099
	display block
	margin-top 10px
	
.Form_label
	color Grey_400
	margin-top 1em
	margin-bottom 0

.Form_input
	position relative
	background White_200
	font-size 17px
	&::-webkit-input-placeholder
		color #BCC2CC
		font-weight 300
	&::-moz-placeholder
		color #BCC2CC
		font-weight 300
	&:-ms-input-placeholder
		color #BCC2CC
		font-weight 300
	&:-moz-placeholder
		color #BCC2CC
		font-weight 300
  	&:placeholder
 		color #BCC2CC
 		font-weight 300
 		
.holi
	display none


.Check_label
	margin-top 20px
	margin-left 10px
	color Grey_400
	font-size 15px
	
.Check_input-link 
	color Blue_200
	margin-left 5px
	&:hover
		color Blue_200
		


.Button_form
	display block
	margin-top 2em
	text-align center
	margin-left auto
	margin-right auto
	background-color Yellow_200
	padding 0 77px

.Page_cursos_title-inscribete
	font-family Lato
	font-weight bold
	font-size 24px
	line-height 35px
	color Blue_200
	text-align center
	margin-bottom 1em

.Cursos_info-1
	display inline-flex
	margin-right 25px
	margin-bottom 76px

.Cursos_info-title-1
	font-size 24px
	line-height 36px
	color White_100
	font-weight 500

.Cursos_info-duration-1
	font-size 20px
	line-height 30px
	color White_200
	font-weight 100



.Cursos_info
	text-decoration none
	display inline-flex
	align-items center
	background-color White_100
	border-radius 10px 0 10px 0
	margin-right 1em
	margin-bottom 20px
	min-width 284px
	&:hover
		text-decoration none
		
.Cursos_info-icon
	font-size 30px
	color Blue_200
	margin-right 19px
	background-color Grey_200
	padding 25px 20px
	border-radius 10px 0 0 0

.Cursos_info-title
	margin-bottom 0
	color Grey_400
	font-weight bold
	font-size 14px
	font-family Lato

.Cursos_info-duration
	color Blue_200
	font-size 18px	
	font-family Rubik
	

.Cursos_info-description-2
	padding-right 15px


.Cursos_slider
	height 500px
	display flex
	align-items center

.Cursos_slider-title
	font-weight 400
	color Blue_200
	text-align center
	margin-bottom 80px

.Curso_slider-item
	text-align center
	font-size 18px
	font-family Lato
	font-weight 500
	&:focus
		outline none
	a
		text-decoration none
	img
		height 160px
		margin 0 auto
		margin-bottom 27px
	h2
		font-size 18px
		font-weight 600
		color #212529



.slick-prev, .slick-next
	top 20%
	height 50px
	width 50px

.slick-prev
	left -50px

.slick-next
	right -50px
	
.slick-prev&:before,.slick-next&:before
	font-family "FontAwesome"
	font-size 60px
	font-weight bold
	opacity 1
	color Blue_200
	
.slick-prev
	&:before
		content "\f104"
	
.slick-next
	&:before
		content "\f105"
		
.Imagen-curso
	height 400px
	background-attachment fixed
	background-repeat no-repeat
	background-position center
	background-size cover

.Servicio-1
	background-image url("../img/Bomberotecnia-Servicio.jpg")
	
.Servicio-2
	background-image url("../img/Planes-Emergencia-Servicio.jpg")

.Servicio-3
	background-image url("../img/Espacios-Confinados-Servicio.jpg")

.Servicio-4
	background-image url("../img/Evaluacion-Puestos-Trabajo-Servicio.jpg")

.Servicio-5
	background-image url("../img/Matriz-Peligros-Servicio.jpg")
	
.Servicio-6
	background-image url("../img/Primer-Respondiente-Servicios.jpg")

.Servicio-7
	background-image url("../img/Brigadas-Emergencia-Servicios.jpg")
	
.Servicio-8
	background-image url("../img/Investigacion-Accidentes-Servicio.jpg")

.Servicio-9
	background-image url("../img/Inspeccion-Equipos-Servicio.jpg")

.Servicio-10
	background-image url("../img/Plan-Seguridad-Vial-Servicio.jpg")

.Servicio-11
	background-image url("../img/Asesoria-Seguridad-Servicio.jpg")

.Servicio-12
	background-image url("../img/Sistema-Seguridad-Servicio.jpg")
	
.Servicio_page-row
	margin-top 150px

.Page_servicio_icon
	font-size 54px
	background-color White_100
	width 100px
	height 100px
	border-radius 5px 0 5px 0 
	color Yellow_200
	margin-right 40px
	
.Page_servicio_icon-1.fa-exclamation-triangle 
	padding 18px

.Page_servicio_icon-1.fa-fire
	padding 19px 28px
	
.Page_servicio_icon.fa-external-link-square-alt
	padding 22px 23px

.Page_servicio_icon.fa-briefcase
.Page_servicio_icon.fa-th
.Page_servicio_icon.fa-medkit
.Page_servicio_icon.fa-wheelchair 
.Page_servicio_icon.fa-list-ol  
	padding 21px

.Page_servicio_icon.fa-ambulance  
	padding 22px 16px
	
.Page_servicio_icon.fa-search   
	padding 22px 15px

.Page_servicio_icon.fa-road
.Page_servicio_icon.fa-fire-extinguisher    
	padding 21px 19px
			
.Conjunto_2
	.Page_servicios_title
		margin-bottom 0
		
.Page_servicios_title_2
	margin-bottom 3em


.Servicio_cliente
	float left
	margin-right 37px
	background-color White_100
	margin-bottom 80px
	img
		width 80px

.Servicios_slider-item
	display flex !important
	align-items center
	justify-content center

.Seguridad-salud__Link-diseno
	text-align left

.Nosotros_header
	background-image url("../img/Nosotros-Header-Background.jpg")
	&:before
		display none
.Nosotros_articulo
	h1
		margin-bottom 40px

.Nosotros_row-header
	padding 126px 15px
	
.Somos_title
	color Blue_200
	text-align center
	margin-top 101px
	margin-bottom 75px
	
.Somos_col
	display flex
	flex-direction column
	align-items center
	text-align center

.Somos_contorno-img
	height 220px
	width 220px
	border-radius 50%
	border 5px solid Blue_200

.Somos_contorno-img--1
	background-image url("../img/Company.jpeg")
	background-position center
	background-size cover
	background-repeat no-repeat

.Somos_contorno-img--2
	background-image url("../img/Galeria-2.jpeg")
	background-position -88px 0px
	background-size cover
	background-repeat no-repeat

.Somos_contorno-img--3
	background-image url("../img/Andamio.jpg")
	background-position center
	background-size cover
	background-repeat no-repeat

.Somos_description
	max-width 263px
	margin-top 41px
	margin-bottom 136px

.Marco
	padding 0 15px

.Marco_articulo
	padding 127px 15px

		
.Marco_resolucion-title
	color Grey_500
	font-weight 500
	
.Valores_title
	text-align center
	padding-top 137px
	margin-bottom 68px
	
.Valores_row
	margin-bottom 157px
	
.Valores_col
	justify-content center
	padding 0 25px
	min-height auto
	cursor default
	&:hover
		p
			color Grey_400

.Valores_icon
	font-size 60px
	color Blue_200
	margin-bottom 52px
	margin-top 80px

.Valor_title
	font-weight bold
	color Grey_500
	font-size 20px
	margin-bottom 30px

.card-text.Valores_text
	margin-bottom 92px
	min-height 96px

.Equipo_title
	color Blue_200
	text-align center
	margin 75px 0

.Equipo_col
	text-align center
	margin-bottom 86px

.Equipo_img
	margin-bottom 39px
	
.Equipo_name
	font-family lato
	font-weight bold
	font-size 19px
	color Grey_500
	margin-bottom 0

.Equipo_rol
	font-family lato
	font-weight 500
	font-size 20px
	color Grey_400	

.Galeria_title
	font-family lato
	font-weight 400
	color White_100
	font-size 40px
	text-align center
	padding 70px 0

.Contacto_title
	color White_100

.Galeria_before
	position relative
	&:before,&:after
		content ""
		position absolute
		width 100%
		height 75px
		background-color White_100
	&:before
		top 5px
		left 0
	&:after
		bottom 0
		right 0
				
.Contacto-mapa_1
	background-color Blue_300

.Contacto-mapa_2
	background-color #083899
	
.Row-contacto_mapa
	display flex
	align-items center
	padding 122px 15px
	ol
		list-style none
		padding 0

.mapa-container
	box-shadow 0px 0px 30px 30px rgba(0,0,0,0.1)

.Contacto-info
	line-height 36px
	color White_100
	font-family Lato
	font-weight bold


.Contacto-sede_title
	font-size 36px
	margin-bottom 30px
	display flex
	

.Sede_numero
	font-size 24px
	font-weight 100

.Contacto-info_title
	display flex
	flex-direction column
	color White_100
	font-size 20px
	line-height 36px
	font-family Lato
	font-weight bold
	margin-top 20px

.Contacto-icon_title
	color Yellow_200
	margin-right 10px

.Contacto-info_description
	font-family Rubik
	line-height 30px
	color Grey_200
	
.Mapa_container
	position relative


.Mapa
	height 400px
	
.Mapa-2
	display none
	
.Mapa_info
	margin-top 50px
	background-color White_100
	padding 36px 36px
	border-radius 25px 0 25px 0
	box-shadow 0px 0px 30px 25px rgba(0,0,0,0.1)
	
.Mapa_info-options
	text-align center
	padding 0
	margin-bottom 50px

.Mapa_info-button
	padding 15px 0
	min-width 215px
	color Grey_300
	display inline-flex
	justify-content center
	background-color White_100
	font-family lato
	font-weight bold
	font-size 16px
	border 1px solid Grey_200
	cursor pointer

.Mapa_info-button.active
	transition .5s ease-in-out		
	background Blue_200
	color White_100

.Opcion_rionegro
	border-radius 5px 0 0 5px
	border-right none
	
.Opcion_berrio
	border-radius 0 5px 5px	0
	border-left none
	

.Mapa_info-title
	font-family lato
	font-size 24px
	font-weight 400
	color Grey_500
	margin-bottom 50px

.Contact_section
	color Grey_400
	font-family Rubik
	font-weight 400
	font-size 20px
	display block
	margin-bottom 35px
	&:hover
		color Blue_200

.Contact_mail
	margin-bottom 0
		
.Contact_icon
	color Blue_200
	margin-right 15px
	
.Contacto_form
	font-family lato
	background-color Grey_100
	padding-bottom 108px

.Contacto_form-title
	font-size 30px
	color Blue_200
	font-weight 400
	padding-top 120px
	margin-bottom 27px
	
.Contacto_form-row
	align-items center
	
.Contacto_form-img
	text-align center

.Form
	position relative
	min-height 591px
	overflow hidden

.Contacto_form-label
	font-weight bold
	font-size 10px
	color Grey_400

.form-control.Contacto_form-input
	background-color rgba(138, 144, 153, 0.04)
	border-radius 10px 0 10px 0
	box-shadow 0px 0px 5px 0px rgba(0,0,0,0.15)
	font-family Rubik

.Contacto_form-btn
	color Grey_500
	&:hover
		color Grey_500

.Container-certificado
	background-image url("../img/Certificado-Section.jpg")
	background-position center
	background-size cover
	background-repeat no-repeat
	height 100vh
	display flex
	align-items center
	justify-content center

.Busqueda-certificado
	background-color White_100
	border-color Grey_200
	border-radius 25px 0 25px 0
	position relative
	z-index 0
	overflow hidden
	transition .5s ease-in-out

.container
	transition .5s ease-in-out

.Busqueda-certificado_text
	color Grey_400
	font-size 16px
	line-height 26px
	font-weight 100
	font-family Rubik
	margin-bottom 50px

.Busqueda-negativa
	color Red_100
	font-size 24px
	line-height 36px
	font-family lato
	text-align center
	.Cursos_info
		border 1px solid Grey_200
		text-align left
	

.Busqueda-certificado_row
	align-items center
	padding-bottom 60px

.Busqueda-group
	margin-bottom 0
	
.Cedula_label
	font-family lato
	font-weight bold
	font-size 10px
	color Grey_400

.Cedula_input
	padding 11px 10px
	border-radius 10px 0 10px 0
	background White_200
	
.Busqueda-certificado_btn
	display block
	padding 0 77px
	border 0
	
.Ejemplo-cedula
	font-family Rubik
	font-size 12px
	font-weight 100
	color Grey_400

.Cabecera
	text-align center
	.Logo-dcm
		padding-top 60px
		margin-bottom 40px
	
.Display-3
	color Blue_200
	font-family lato
	font-weight bold
	line-height 36px
	font-size 24px
	margin-bottom 20px

.Exito-texto
	text-align center
	color #39B54A
	font-size 24px
	line-height 36px
	font-family lato
	font-weight 400

.Display-4
	display inline-block


.table-dark
	.Thead
		background Blue_300
		border 0
		font-family Rubik
		font-weight 400
		font-size 12px
		line-height 26px
		color White_100

.table-dark
	th
		border-color Grey_200 !important

.table-dark
	td
		border-color Grey_200 !important	

.Tbody
	background White_100
	border 1px solid Grey_200
	font-family Rubik
	font-size 13px
	line-height 26px
	color Grey_500

.Descarga-certificado
	background Yellow_200
	padding 10px
	color Grey_500
	&:hover
		text-decoration none

.Descarga-certificado_icon
	padding-left 5px
	

.Form_input.error
	border-color red
	

.flex-direction-nav
	a
		z-index 0
		

.loader-page 
	position fixed
	z-index 25000
	background rgb(255, 255, 255)
	left 0px
	top 0px
	height 100%
	width 100%
	display flex
	align-items center
	justify-content center
	transition all .3s ease
	&:before,&:after
		content ""
		position fixed
		border 2px solid rgb(13, 92, 186)
		width 60px
		height 60px
		border-radius 50%
		box-sizing border-box
		border-left 2px solid rgba(13, 92, 186,0)
		border-top 2px solid rgba(13, 92, 186,0)
		animation rotarload 1s linear infinite
		transform rotate(0deg)
	&:after
		border 2px solid rgba(13, 92, 186,.5)
		animation rotarload 1s ease-out infinite

@keyframes rotarload {
      0%   {transform: rotate(0deg)}
      100% {transform: rotate(360deg)}
  }





@media (max-width:1440px)

	.Andamio
		background-position center
	
	.flex-control-nav
		left -38%
		
	.slick-next
		right -30px
		top 25%
	
	.slick-prev
		left -30px
		top 25%
	
@media (max-width: 1199.98px)


	.Header
		background-attachment initial
		background-position center !important
		background-repeat no-repeat
	
	.flex-control-nav
		left 0

	.Curso_group_1
		justify-content center
	
	.Menu
		flex-direction column
		align-items center
	
	.Logo_img
		width 100px
		margin-top 15px
	
	.nav
		height 90px
	
	.nav-link
		padding 20px

	.Nav_visible
		.nav
			height 70px
		.nav-link
			padding 20px
	
	.carousel-item
		min-height 370px
			
	.Seguridad-salud__Link
		flex-direction column
		font-size 15px
		text-align center
		
	.Seguridad-salud__Servicio
		justify-content center
	
	.Dowload_icon--Service
		margin-right 0
		margin-bottom 10px
	
	.Curso_slider-item
		.Seguridad-salud__Link
			margin-left 10px
			flex-direction inherit

	.Andamio
		background-position center
		
		
	.card-text.Valores_text
		min-height 144px

	.Valor_title
		font-size 18px
	
	.Valores_row
		justify-content center
	
	.Cursos_info
		min-width 305px



@media (max-width: 991.98px)

	.Header
		&:before
			top 26%

	.Contorno
		margin-bottom 0
	
	.nav-link
		padding 20px 13px
	
	.Nav_visible
		.nav-link
			padding 20px 13px

	.Constructor_img
		height 480px
		margin-top 0
	
	.Conjunto_2
		h1
			margin-bottom 20px
	
	.Andamio
		height 500px
		background-size cover
	
	.carousel-item
		min-height 590px
	
	.User_icon
		display flex
		justify-content center
		align-items center
		min-height 200px
	
		
	
	.Elegir-dcm__corbelen
		padding 0
		.fa-user
			font-size 90px
	
	.Seguridad-salud__Servicio
		flex-direction column
		justify-content center
		padding 0 20px
		
	
	.Seguridad-salud__Link
		text-align center
		margin-bottom 15px
		min-height 150px
		
	.Certificado_col-img
		margin-top 40px
	
	.Titulo
		font-size 28px
		line-height 40px
		margin-bottom 60px
	
	.Portafolio_img
		margin-bottom 30px
	
	.Frase_text
		&:before
			left -80px
	
	.Elegir-dcm__corbelen-img
		width auto
		
	
	.Page_cursos_form
		margin-top 30px
	
	.Servicio_page-row
		margin-top 0
		
	
	.Contact_section
		flex-direction column
		text-align center
		font-size 15px
		margin-bottom 20px
	
	.Nosotros_row-header
		justify-content center
		padding 60px 15px
	
	.Nosotros_mundo
		margin-top 50px
	
	.Nosotros_col-header
		text-align center
	
	.Contacto-mapa_1
		.Contacto-sede_title
			margin-top 60px
	
	.Contacto-mapa_2
		.Contacto-info
			margin-bottom 60px
		
		
	
	.Page_cursos-col
		margin-bottom 3em

	.Somos_row
		justify-content center
	
	.Somos_contorno-img
		width 300px
		height 300px
		
	.Somos_description
		margin-bottom 60px
		
	.Marco_articulo
		flex-direction column-reverse
		text-align center
		
	.Page_servicios_title_2
		margin-top 4em
	
	.Button_resolucion
		margin-bottom 50px
	
	.Row-equipo
		justify-content center
	
@media (max-width: 767.98px)

	.certificado-button-top
		display none !important
			
	.certificado-footer
		margin-top 40px
		text-align center

	.Header
		&:before
			top 350px
			left -100px
	
	.Conjunto_2
		text-align center
		justify-content center
	
	.Constructor_img
		width auto
		height 400px
	
	address
		margin-bottom 0
	
	.Menu_container
		position fixed
		top 0
		width 100%
		border-radius 0
		background-color Grey_100 !important
	
	.Menu
		max-width 100%
		flex-direction initial
	
	.Logo_img
		margin 15px 0
	
	.Contorno
		min-height 0
	
	.Header
		.Conjunto_1
			padding-top 97px
	
	.Footer_menu-col
		text-align center
	
	.Hamburguer_icon
		position relative
		display block
		border 4px solid Blue_200
		width 45px
		height 45px
		border-radius 50%
		overflow hidden
		z-index 100
		span
			display block
			height 100%
			width 100%
			text-align center
			line-height 40px
			font-size 22px
			color Blue_200
			transition .5s
			&:nth-child(2)
				background-color Blue_200
				color White_100
				border none
		span.Icon_active
			transform translateY(-100%)
			
	.nav
		position fixed
		height 100vh
		width 100%
		top 0
		left -100%
		background-color Grey_100
		display inline-block
		text-align center
		transition .5s
		padding-top 60px
		li
			margin-bottom 15px
			margin-top 15px
			border-bottom 1px solid Grey_200
	
	.nav.Menu_active
		left 0
		overflow-y auto
	
	.Nav_visible
		.nav
			height 100%
			width 100%
			padding-top 60px
			overflow-y auto	
	
	.dropdown-menu
		position relative !important
		width 100%
		left 0
		top 0
		float none
		text-align center
		transform none !important
		overflow-y auto
    	overflow-x hidden
    	

	.Menu_container
		ul
			li 
				.dropdown-item
					padding 12px 5px

	.Certificado_col-img
		margin-top 40px
	
	.Certificado__articulo
		justify-content center
		text-align center
		
	.Portafolio_articulo
		text-align center
	
	.Frases
		h3
			font-size 20px
	
	.Elegir-dcm__article
		text-align center
		
	.Nosotros_row-header
		padding 0 15px
		
	.Andamio
		background-position center
		

	.Footer_menu
		flex-wrap wrap-reverse
		justify-content center
		text-align center
	
	.Footer_menu-col
		text-align left
	
	.Imagen-curso
		height 200px
	
	.Footer_menu_title
		margin-top 50px
	
	.Footer_copy
		flex-direction column
		text-align center
		margin-top 40px
		
	.Page_cursos-row
		text-align left
		justify-content flex-start
		
	.mapa-container
		margin-top 30px
	
	.contacto-plane
		margin-top 50px
	
	.Contacto_form-img
		margin-top 60px
	
	.Andamio
		background-position center
		


@media (max-width: 575.98px)

	.Header
		.Conjunto_1
			flex-direction column
			.Contact_tel
				margin-bottom 20px
		address
			margin-bottom 30px
	
	.Contenido_slide-home
		padding 40px
		min-height 530px
		padding 80px 44px
		padding-bottom 80px
	
	.flex-control-nav
		bottom 0
	
	.Seguridad-salud__Link
		min-height 220px
		font-size 16px

	.Frases
		height 300px
		h3
			font-size 16px

	.Frase_text
		&:before,&:after
			transform scale(.5)
		
	.Frase_text
		&:after
			right -44px
	
	.Frase_text
		&:before
			left -50px
			

	.Elegir-dcm__article--parrafo
		font-size 16px
	
	.carousel-control-next
	.carousel-control-prev
		top -150px
		
	.Page_cursos_conjunto-1
		flex-direction column
	
	.Page_servicio_icon
		margin-right 0
		margin-bottom 20px
	
	.Page_servicios_title
		text-align center
		
	.Page_cursos_img
		width 100px
		margin-right 0
	
	.Cursos_info-1
		margin-right 11px
	
	.Cursos_info-title-1
		font-size 18px
		
	.Cursos_info-duration-1
		font-size 14px

	.Page_cursos_title
		font-size 24px
		margin-top 20px
		margin-bottom 20px
		text-align center
	
	.Page_cursos-description
		font-size 16px
	
	.Page_cursos-requisito
		font-size 15px

	.Conjunto_2
		.Page_servicios_title
			font-size 20px
			line-height 30px
			margin-top 20px
		
	.Page_cursos_form
		border-radius 0
	
	.slick-prev
		left 10px
	
	.slick-next
		right 10px
			
	.Servicios_slider-item
		flex-direction column
	
	.Footer_menu_list
		font-size 18px
	
	.Contacto_form-row
		justify-content center
	
	.Contacto_form-img
		text-align center

	.Contacto_form-col
		margin-bottom 50px

	.Conjunto_2 
		h1
			font-size 25px
			line-height 40px
		.Conjunto_2-description
			font-size 20px
		
	.Nosotros_mundo
		margin-bottom 100px
		

@media (min-width: 767.99px)

	.nav-item.dropdown
		&:hover
			.dropdown-menu
				display block